<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p>
            <a href="/mentions-legales">Mentions Légales</a>
            -
            <a href="https://www.facebook.com/ledrakkarburo" target="_blank">Facebook</a>
            -
            <a href="mailto:contact@ledrakkar-coworking.fr">contact@ledrakkar-coworking.fr</a>
        </p>
    </section>
</section>
